@model FeedReader.Web.Models.FeedDashboard

@{
    ViewBag.Title = Model.Feed.Category.Name + " - " + Model.Feed.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink(Model.Feed.Category.Name, "Category", "Home", new { categoryId = Model.Feed.Category.Id }, null)
    </li>
</ol>
<div class="feed-follow-div">
    @if (Request.IsAuthenticated)
    {
        if (Model.Followed)
        {
            <a href="@Url.Action("Feed", "Home", new { feedId = Model.Feed.Id, follow = 0 })" class="feed-follow">Unfollow</a>
        }
        else
        {
            <a href="@Url.Action("Feed", "Home", new { feedId = Model.Feed.Id, follow = 1 })" class="feed-follow">Follow</a>
        }


    }
</div>
<div class="feed-title">@Model.Feed.Name</div>

@Html.Partial("_ArticlesSection", Model.Articles)