@model FeedReader.Web.Models.Dashboard
@{
    ViewBag.Title = "Home Page";
}

@if (Model.Categories != null && Model.Categories.Count > 0)
{
    <div class="category-thumbs">
        @foreach (var category in Model.Categories)
        {
            <a href="@Url.Action("Category", "Home", new { categoryId = category.Id })" class="category-thumb">
                <img class="category-thumb-image" src="@category.Image">
                @category.Name
            </a>
        }
    </div>
}

@if (Model.Feeds != null)
{
    @Html.Partial("_FeedsSection", Model.Feeds)
}

@if (Model.Articles != null && Model.Articles.Count > 0)
{
    <h3>
        Your articles
    </h3>
    @Html.Partial("_ArticlesSection", Model.Articles)
}
else
{
    <div>
        Customize your homepage by following feeds
    </div>
}

@if (Model.OtherArticles != null && Model.OtherArticles.Count > 0)
{
    <h3>
        Articles you may like
    </h3>
    @Html.Partial("_ArticlesSection", Model.OtherArticles)
}