@model FeedReader.Web.Models.Dashboard
@{
    ViewBag.Title = "Home Page";
}

@if (Model.Categories != null && Model.Categories.Count > 0)
{
    <div class="category-thumbs">
        @foreach (var category in Model.Categories)
        {
            <a href="@Url.Action("Category", "Home", new { categoryId = category.Id })" class="category-thumb">
                <img class="category-thumb-image" src="@category.Image">
                @category.Name
            </a>
        }
    </div>
}

@Html.Partial("_FeedsSection", Model.Feeds)

@Html.Partial("_ArticlesSection", Model.Articles)